.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	perspective: 800px;
}

.inner {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 50%;  
}

.inner.one {
	left: 0%;
	top: 0%;
	animation: rotate-one 1.1s linear infinite;
	border-bottom: 3px solid #EFEFFA; /* Set the border color for inner one */
}

.inner.two {
	right: 0%;
	top: 0%;
	animation: rotate-two 1.1s linear infinite;
	border-right: 3px solid #EFEFFA; /* Set the border color for inner two */
}

.inner.three {
	right: 0%;
	bottom: 0%;
	animation: rotate-three 1.1s linear infinite;
	border-top: 3px solid #EFEFFA; /* Set the border color for inner three */
}

@keyframes rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); /* Initial rotation values for inner one */
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); /* Final rotation values for inner one */
	}
}

@keyframes rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); /* Initial rotation values for inner two */
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); /* Final rotation values for inner two */
	}
}

@keyframes rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); /* Initial rotation values for inner three */
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); /* Final rotation values for inner three */
	}
}
